*~
*.a
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cxx
*.gen
genversion
install_manifest.txt
Makefile
po/i18n.qrc
po/*.qm
po/*.ts
quassel
quasselclient
quasselcore
src/__/
src/core/sql.qrc.depends
src/qtui/notificationsclient.cpp
src/qtui/notificationsclient.h
src/qtui/notificationsclient.moc
src/qtui/statusnotifieritemadaptor.cpp
src/qtui/statusnotifieritemadaptor.h
src/qtui/statusnotifieritemadaptor.moc
src/qtui/statusnotifierwatcher.cpp
src/qtui/statusnotifierwatcher.h
src/qtui/statusnotifierwatcher.moc
src/qtui/ui_aboutdlg.h
src/qtui/ui_aliasessettingspage.h
src/qtui/ui_appearancesettingspage.h
src/qtui/ui_backlogsettingspage.h
src/qtui/ui_buffervieweditdlg.h
src/qtui/ui_bufferviewsettingspage.h
src/qtui/ui_bufferviewwidget.h
src/qtui/ui_bufferwidget.h
src/qtui/ui_channellistdlg.h
src/qtui/ui_chatmonitorsettingspage.h
src/qtui/ui_chatviewsearchbar.h
src/qtui/ui_chatviewsettingspage.h
src/qtui/ui_connectionsettingspage.h
src/qtui/ui_coreaccounteditdlg.h
src/qtui/ui_coreaccountsettingspage.h
src/qtui/ui_coreconfigwizardadminuserpage.h
src/qtui/ui_coreconfigwizardintropage.h
src/qtui/ui_coreconfigwizardstorageselectionpage.h
src/qtui/ui_coreconfigwizardsyncpage.h
src/qtui/ui_coreconfigwizardsyncpage.h
src/qtui/ui_coreconnectauthdlg.h
src/qtui/ui_coreconnectauthdlg.h
src/qtui/ui_coreconnectionsettingspage.h
src/qtui/ui_coreconnectionsettingspage.h
src/qtui/ui_coreconnectionstatuswidget.h
src/qtui/ui_coreconnectionstatuswidget.h
src/qtui/ui_coreinfodlg.h
src/qtui/ui_coreinfodlg.h
src/qtui/ui_createidentitydlg.h
src/qtui/ui_createidentitydlg.h
src/qtui/ui_debugbufferviewoverlay.h
src/qtui/ui_debugbufferviewoverlay.h
src/qtui/ui_debugconsole.h
src/qtui/ui_debugconsole.h
src/qtui/ui_debuglogwidget.h
src/qtui/ui_debuglogwidget.h
src/qtui/ui_highlightsettingspage.h
src/qtui/ui_highlightsettingspage.h
src/qtui/ui_identitiessettingspage.h
src/qtui/ui_identitiessettingspage.h
src/qtui/ui_identityeditwidget.h
src/qtui/ui_identityeditwidget.h
src/qtui/ui_ignorelisteditdlg.h
src/qtui/ui_ignorelisteditdlg.h
src/qtui/ui_ignorelistsettingspage.h
src/qtui/ui_ignorelistsettingspage.h
src/qtui/ui_inputwidget.h
src/qtui/ui_inputwidget.h
src/qtui/ui_inputwidgetsettingspage.h
src/qtui/ui_inputwidgetsettingspage.h
src/qtui/ui_itemviewsettingspage.h
src/qtui/ui_itemviewsettingspage.h
src/qtui/ui_msgprocessorstatuswidget.h
src/qtui/ui_msgprocessorstatuswidget.h
src/qtui/ui_networkadddlg.h
src/qtui/ui_networkadddlg.h
src/qtui/ui_networkeditdlg.h
src/qtui/ui_networkeditdlg.h
src/qtui/ui_networkssettingspage.h
src/qtui/ui_networkssettingspage.h
src/qtui/ui_nickeditdlg.h
src/qtui/ui_nickeditdlg.h
src/qtui/ui_nicklistwidget.h
src/qtui/ui_nicklistwidget.h
src/qtui/ui_phononnotificationconfigwidget.h
src/qtui/ui_phononnotificationconfigwidget.h
src/qtui/ui_saveidentitiesdlg.h
src/qtui/ui_saveidentitiesdlg.h
src/qtui/ui_servereditdlg.h
src/qtui/ui_servereditdlg.h
src/qtui/ui_settingsdlg.h
src/qtui/ui_settingsdlg.h
src/qtui/ui_settingspagedlg.h
src/qtui/ui_settingspagedlg.h
src/qtui/ui_shortcutssettingspage.h
src/qtui/ui_shortcutssettingspage.h
src/qtui/ui_simplenetworkeditor.h
src/qtui/ui_simplenetworkeditor.h
src/qtui/ui_sslinfodlg.h
src/qtui/ui_topicwidget.h
src/qtui/ui_topicwidgetsettingspage.h
