before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo add-apt-repository -y ppa:kalakris/cmake
  - sudo apt-add-repository -y ppa:beineri/opt-qt521
  - sudo apt-get -qq update

install:
  - sudo apt-get install -q gcc-4.7 g++-4.7
  - if [ "$CXX" = "clang" ]; then sudo apt-get install -q clang-3.4; fi
  - sudo apt-get install -q cmake
  - sudo apt-get install -q qt52base qt52webkit qt52tools qt52script
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.7" CC="gcc-4.7"; fi

language: cpp

compiler:
  - gcc 
  - clang

env: 
  - QT_VERSION=qt4
  - QT_VERSION=qt5

script:
  - mkdir build
  - cd build
  - if [ "$QT_VERSION" = "qt4" ]; then cmake ..; fi
  - if [ "$QT_VERSION" = "qt5" ]; then source /opt/qt52/bin/qt52-env.sh && cmake  -DUSE_QT5=ON ..; fi
  - make

matrix:
  exclude:
    - compiler: clang
      env: QT_VERSION=qt4
