[Desktop Entry]
Type=Application
Version=1.0
Name=Quassel IRC (Client only)
Name[ast]=IRC Quassel (namái veceru)
Name[ca]=Xat IRC Quassel (només el client)
Name[de]=Quassel IRC (nur Client)
Name[en_GB]=Quassel IRC (Client only)
Name[es]=IRC Quassel (sólo cliente)
Name[et]=Quassel IRC (ainult klient)
Name[fi]=Quassel IRC (vain asiakas)
Name[fr]=Quassel IRC (client uniquement)
Name[gl]=Quassel IRC (só cliente)
Name[hu]=Quassel IRC (Csak kliens)
Name[it]=Quassel IRC (solo client)
Name[ko]=Quassel IRC (클라이언트만)
Name[nl]=Quassel IRC (alleen client)
Name[oc]=Quassel IRC (client unicament)
Name[pl]=Quassel IRC (tylko klient)
Name[pt_BR]=Quassel IRC (Apenas cliente)
Name[ru]=Quassel IRC (только клиент)
Name[sq]=Quassel IRC (Vetëm klient)
Name[sv]=Quassel IRC (endast klient)
Name[tr]=Quassel IRC (sadece İstemci)
Name[uk]=Quassel IRC (лише клієнт)
Name[zh_CN]=Quassel IRC (仅仅包含客户端)
GenericName=IRC Client
GenericName[ast]=Veceru IRC
GenericName[ca]=Client d'IRC
GenericName[de]=IRC-Client
GenericName[en_GB]=IRC Client
GenericName[es]=Cliente IRC
GenericName[et]=IRC klient
GenericName[fi]=IRC-asiakas
GenericName[fr]=Client IRC
GenericName[gl]=Cliente de IRC
GenericName[hu]=IRC-kliens
GenericName[it]=Client IRC
GenericName[ko]=IRC 클라이언트
GenericName[nb]=IRC-klient
GenericName[nl]=IRC-client
GenericName[oc]=Client IRC
GenericName[pl]=Klient IRC
GenericName[pt_BR]=Cliente IRC
GenericName[ru]=IRC клиент
GenericName[sq]=IRC Klient
GenericName[sv]=IRC-klient
GenericName[tr]=IRC İstemci
GenericName[uk]=Клієнт IRC
GenericName[zh_CN]=IRC 客户端
Comment=Distributed IRC client with central core component
Comment[ast]=Veceru IRC distribuyíu con un componente central
Comment[ca]=Client d'IRC distribuït amb un component de nucli central
Comment[de]=Dezentralisierter IRC-Client mit einem zentralen Kern
Comment[en_GB]=Distributed IRC client with central core component
Comment[es]=Cliente IRC distribuido con un componente central
Comment[et]=Hajus IRC klient koos keskse tuumkomponendiga
Comment[fi]=Hajautettu IRC-asiakas, jolla keskitetty ydinkomponentti
Comment[fr]=Client IRC distribué avec composant essentiel centralisé
Comment[gl]=Cliente de IRC distribuído cun compoñente principal central
Comment[hu]=Elosztott IRC-kliens központi alapkomponenssel
Comment[it]=Client IRC distribuito con componente centrale
Comment[nl]=IRC-client met centraal kerncomponent
Comment[oc]=Client IRC distribuit amb component essencial centralizat
Comment[pt_BR]=Cliente IRC distribuido com o compotente central core
Comment[ru]=Распределённый клиент IRC с центральным ядром
Comment[sq]=Klient i shpërndarë IRC me përbërës qendror
Comment[sv]=Distribuerad IRC-klient med central kärnkomponent
Comment[uk]=Клієнт IRC з центральним ядром
Comment[zh_CN]=带有中央核心组件的分布式 IRC 客户端
Icon=quassel
TryExec=quasselclient
Exec=quasselclient
Categories=Qt;Network;Chat;IRCClient;
