[Desktop Entry]
Type=Application
Version=1.0
Name=Quassel IRC
Name[en_GB]=Quassel IRC
Name[es]=IRC Quassel
Name[fr]=Quassel IRC
Name[hu]=Quassel IRC
Name[pt_BR]=Quassel IRC
Name[ru]=Quassel IRC
Name[sq]=Quassel IRC
Name[tr]=Quassel IRC
Name[uk]=Quassel IRC
GenericName=IRC Client
GenericName[en_GB]=IRC Client
GenericName[es]=Cliente IRC
GenericName[fr]=Client IRC
GenericName[hu]=IRC-kliens
GenericName[pt_BR]=Cliente IRC
GenericName[ru]=IRC клиент
GenericName[sq]=IRC Klient
GenericName[tr]=IRC İstemci
GenericName[uk]=Клієнт IRC
Comment=Distributed IRC client with central core component
Comment[en_GB]=Distributed IRC client with central core component
Comment[es]=Cliente IRC distribuido con un componente central
Comment[fr]=Client IRC distribué avec composant essentiel centralisé
Comment[hu]=Elosztott IRC-kliens központi alapkomponenssel
Comment[pt_BR]=Cliente IRC distribuido com o compotente central core
Comment[sq]=Klient i shpërndarë IRC me përbërës qendror
Comment[uk]=Клієнт IRC з центральним ядром
Icon=quassel
TryExec=quassel
Exec=quassel
Categories=Qt;Network;Chat;IRCClient;
