[Translation]
#File=example-nct
#Context=QuasselIRC

[Desktop Entry]
Comment[]=A Next-Gen IRC Client
Exec=quasseltopia
Icon=quasselirc/qirc-icon
Type=Application
Name[]=QuasselTopia
