[Translation]
#File=example-nct
#Context=QuasselIRC

[Desktop Entry]
Comment[]=A Next-Gen IRC Client
Exec=quasseltopia
Icon=/pics/quasselirc/qirc-icon.png
Type=Application
Name[]=QuasselTopia
